@import "./../../css/utility.scss";

.bookstoreLogo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

    &-icon {
        height: 40px;
    }
    &-text {
        padding: 0 0 0 5px;
        font-size: 22px;
        color: $color-white;
        letter-spacing: 0.5px;
    }
}
